.feedback-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none; /* Disable resize for textarea */
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.success-message {
  color: green;
  margin-top: 10px;
}